.entreprise {
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.entreprise .image-container {
    background-color: #023882;
    height: 100vh;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.entreprise .texte {
    background-color: #ffffff;
    height: 100vh;
    flex: 1;
}

.texte {
    text-align: right;
    align-items: flex-end;
    padding-right: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #023882;
}

@media (max-width: 600px) {
    .entreprise {
        flex-direction: column;
    }

    .entreprise .image-container,
    .entreprise .texte {
        height: auto;    ;
    }
}