.entreprise {
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.entreprise .image-container {
    background-color: #023882;
    height: 100vh;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.entreprise .texte {
    background-color: #023882;
    height: 100vh;
    flex: 1;
}

.texte {
    text-align: left;
    align-items: flex-start;
    padding-right: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 50%;
    background-color: #ffffff !important; 
}

.test img {
    width: 100%;
}

.bold {
    font-weight: bold;
}

@media (max-width: 600px) {
    .entreprise {
        flex-direction: column;
    }

    .entreprise .image-container,
    .entreprise .texte {
        height: auto;
        width: 100%;
        margin-left: auto;
        text-align: left;
    }

    .texte {
        padding: 20px;
    }

    .image-container {
        padding-top: 20px;
    }
}